@import '../settings/all';

@if $include_form_field or $jack_include_all {

    $cmp_border_radius: $size_radius_sm;
    $cmp_accent_thickness: 3px;

    .#{$prefix_form_field}field {

        // Labels sit on top of field controls by default
        &__label {
            display: block;
            font-weight: bold;
            margin-bottom: $gap_sm;
        }

        &--required {
            &__label {
                position: relative;

                &:before {
                    color: $color_state_error;
                    content: '*';
                    display: block;
                    left: -2 * $size_gap;
                    position: absolute;
                    top: 0;
                }
            }
        }

        // Light (controls default to light)
        &__control {
            // sass-lint:disable-all
            -ms-appearance: none;
            -moz-appearance: none;
            -webkit-appearance: none;
            // sass-lint:enable-all
            appearance: none;
            background: $color_light_1;
            border: 1px solid $color_light_3;
            border-radius: $cmp_border_radius;
            display: block;
            font-size: $size_font_md;
            outline: none;
            padding: $gap_md;
            width: 100%;

            &:hover,
            &:focus {
                border-color: $color_light_4;
            }

            &:disabled {
                background: $color_light_2;
                border: 1px solid $color_light_3;
                cursor: not-allowed;
            }

            &::placeholder {
                color: $color_light_4;
            }
        }

        // Helper sub-text
        &__helper {
            font-size: $size_font_xs;
            font-weight: bold;
            width: 100%;
        }

        &--select {
            position: relative;

            .#{$prefix_form_field}field__control {
                padding: $gap_md $gap_xxl $gap_md $gap_md;

                &:not(:disabled) {
                    cursor: pointer;
                }

                // Hide Mozilla outline
                &::-moz-focusring {  // sass-lint:disable-line no-vendor-prefixes
                    color: transparent;
                    text-shadow: 0 0 0 $color_dark_1;
                }
            }

            &:before {
                border: $cmp_accent_thickness solid $color_light_4;
                border-right: 0;
                border-top: 0;
                bottom: $gap_lg - 2;
                content: '';
                display: block;
                height: .75em;
                position: absolute;
                right: $gap_md;
                transform: rotate(-45deg) translate3d(-50%, -50%, 0);
                width: .75em;
            }

        }

        &--checkbox,
        &--radio {
            align-items: center;
            display: flex;
            flex-wrap: wrap;
            line-height: 22px;
            text-align: left;

            .#{$prefix_form_field}field__control {
                float: left;
                height: 14px;
                margin: 0 $size_gap*2 0 0;
                padding: 10px;
                width: 14px;

                &:not(:disabled),
                &:not(:disabled) + span {
                    cursor: pointer;
                }

                &:checked {
                    position: relative;

                    &:before {
                        background: $color_state_success;
                        border-bottom: 2px solid rgba($color_light_1, .2);
                        border-radius: $cmp_border_radius/2;
                        border-top: 2px solid rgba($color_dark_1, .1);
                        box-sizing: border-box;
                        content: '';
                        display: block;
                        height: 12px;
                        left: calc(50% - 6px);
                        position: absolute;
                        top: calc(50% - 6px);
                        width: 12px;
                    }
                }
            }
        }

        &--radio {
            .#{$prefix_form_field}field__control {
                border-radius: 50%;

                &:checked {
                    &:before {
                        background: $color_brand_primary;
                        border-radius: 50%;
                    }
                }
            }
        }

        &--color {
            .#{$prefix_form_field}field__control {
                padding: 0;
                width: $gap_lg*2;

                &:not(:disabled) {
                    cursor: pointer;
                }

                &::-webkit-color-swatch-wrapper { // sass-lint:disable-line no-vendor-prefixes
                    border-radius: $cmp_border_radius;
                    overflow: hidden;
                    padding: 0;
                }

                &::-webkit-color-swatch { // sass-lint:disable-line no-vendor-prefixes
                    border-bottom: 3px solid rgba($color_light_1, .2);
                    border-left: 0;
                    border-right: 0;
                    border-top: 3px solid rgba($color_dark_1, .1);
                }
            }
        }
    }

    // Add vertical spacing
    .#{$prefix_form_field}field:not(:last-of-type) { // sass-lint:disable-line force-pseudo-nesting
        margin-bottom: $gap_lg;
    }
}
