@import '../settings/all';

@if $include_form_control {

    $cmp_font_normal: $size_font_normal;

    .#{$prefix_form_control}form-control {
        -webkit-appearance: none;
        -moz-appearance: none;
        -ms-appearance: none;
        appearance: none;

        outline-color: $color_brand_secondary;

        // Light (controls default to light)
        @at-root {
            input#{&},
            textarea#{&},
            select#{&} {
                border: 1px solid $color_light_03;
            }
        }
        &::placeholder {
            color: $color_light_04;
        }

        font-size: $cmp_font_normal;
        padding: $gap_md;
    }

    .#{$prefix_form_control}form-group {
        .#{$prefix_form_control}form-control:not(:last-child) {
            margin-bottom: $gap_md;
        }
    }
}