// Placeholders
// Use for a more consolidated output with rules that should be grouped
// closely in the resulting stylesheet.
//
//  e.g.
//  .a { @extend %no_margins; }
//  .b { @extend %no_margins; }
//
//  Compiles down to .a, .b { margin: 0; }
//
// You may have to add `!optional` to your extended rules to silence Sass
// compilation errors (Sass 3.4+), e.g. .abc { @extend %no_margins !optional; }
//
// Bear in mind, this affects the specificity of your rules as the outputted order
// is impacted by using placeholders.
%no_margins { margin: 0; }
%no_padding { padding: 0; }
%no_borders { border: 0; }
