.page--component {
    .content {
        margin: $size_gap auto;
        padding: $size_gap*3;
        
        h1, p { margin-bottom: $size_gap*4; }

        .divider { margin-bottom: $size_gap*2; }

        .row:not(:last-child) { margin-bottom: $size_gap*5; }

        .row--component-header {
            @media (max-width: $size_break_md) {
                > :first-child { order: 2; }
                > :nth-child(2) { order: 1; }
            }
        }

        .card--example {
            @extend %col-12;
            > .card__head,
            > .card__body { padding: $size_gap*2; }
            > .card__head + .card__body { margin-top: 0; line-height: initial; }
        }

        .card--highlight {
            @extend %col-12;
            > .card__head {
                display: flex;
                justify-content: space-between;
                align-items: baseline;
                @extend %text_primary_03 !optional;
            }
            > .card__head + .card__body { margin-top: 0; } 
        }

        .copy {
            font-size: 12px;
            cursor: pointer;
            color: $color_brand_primary;
            transition: color 0.2s ease;
            &:hover {
                color: adjust-color($color_brand_primary, $lightness: -15%, $saturation: -15%);
            }
        }
        
        .card__copy {
            position: absolute;
            left: -9999px;
            top: -9999px;
        }
    }
}