@import '../settings/all';

@if $include_typography {

    %header_font { font-family: $typography_header_font; }

    body {
        color: $color_dark_04;
        font-size: $size_font_md;
        font-family: $typography_body_font;
    }

    h1 {
        color: $color_dark_01;
        font-size: $size_font_xxl;
        @extend %header_font;
    }

    h2 {
        color: $color_dark_01;
        font-size: $size_font_xl;
        @extend %header_font;
    }

    h3 {
        color: $color_dark_01;
        font-size: $size_font_md;
        @extend %header_font;
    }

    h4 {
        @extend %header_font;
    }

    h5 {
        @extend %header_font;
    }

    p {
        line-height: $typography_body_lineheight;
    }

    @each $size, $px in $sizes_font {
        .#{$prefix_typography}text-size-#{$size} {
            font-size: $px;
        }
    }

    .#{$prefix_typography}text-left {
        text-align: left;
    }

    .#{$prefix_typography}text-right {
        text-align: right;
    }

    .#{$prefix_typography}text-center {
        text-align: center;
    }

    .#{$prefix_typography}text-nowrap {
        white-space: nowrap;
    }
    
    .#{$prefix_typography}text-breakword {
        word-break: break-word;
    }

    .#{$prefix_typography}text-ellipsis {
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }

    @each $state, $color in $colors_all {
        .#{$prefix_typography}text--#{$state} {
            color: $color;
        }
    }

}