@import '../settings/all';

@if $include_typography {

    %header_font { font-family: $typography_header_font; }

    // Defaults
    body {
        color: $color_dark_01;
        font-size: $size_font_normal;
        font-family: $typography_body_font;
    }

    h1 {
        font-size: $size_font_bigger;
        @extend %header_font;
    }

    h2 {
        font-size: $size_font_big;
        @extend %header_font;
    }

    h3 {
        font-size: $size_font_normal;
        @extend %header_font;
    }

    p {
        line-height: $typography_body_lineheight;
    }


    // Sizes
    @each $size, $px in $sizes_font {
        .#{$prefix_typography}text-size-#{$size} {
            font-size: $px;
        }
    }

    // Alignment
    .#{$prefix_typography}text-left {
        text-align: left;
    }

    .#{$prefix_typography}text-right {
        text-align: right;
    }

    .#{$prefix_typography}text-center {
        text-align: center;
    }


    // Line breaks
    .#{$prefix_typography}text-nowrap {
        white-space: nowrap;
    }


    // Ellipsis (...)
    .#{$prefix_typography}text-ellipsis {
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }


    // Stateful colors
    @each $state, $color in $colors_states {
        .#{$prefix_typography}text--#{$state} {
            color: $color;
        }
    }

    // Brand colors
    @each $brand, $color in $colors_brand {
        .#{$prefix_typography}text--#{$brand} {
            color: $color;
        }
    }

}