@import '../settings/all';

/////////////////////////
// Twelve Column Grid
/////////////////////////

// Loop through all of our breakpoint sizes in `utils/_sizes.scss`,
// create a media query for each respective breakpoint size,
// Loop through each column and set the flex-basis value.

@mixin grid {
    $column_count: 12;
    $column_size: 100% / $column_count;
    @each $size, $px in $sizes_break {

        // Build out column widths for each breakpoint size
        @media (min-width: $px) {

            @for $i from 0 through $column_count {
                .#{$prefix_component_grid}col-#{$size}-#{$i} {
                    flex-basis: $column_size * $i;
                    // Allow '.col-size-0' for columns that should
                    // retain the width of their contents.
                    @if $i == 0 {
                        max-width: 100%;
                    }
                }

                // Offset columns
                .#{$prefix_component_grid}col-#{$size}-offset-#{$i} {
                    margin-left: $column_size * $i;
                }
            }

            // Hide bits
            .#{$prefix_component_grid}col-#{$size}--hidden {
                display: none;
            }

            // Show bits
            .#{$prefix_component_grid}col-#{$size}--visible {
                display: initial;
            }
        
        }

        // Preserve a smaller gutter on smaller screens
        @if $px > 768 {
            @media (min-width: $px) {
                .#{$prefix_component_grid}container {
                    max-width: $px - 80px;
                }
            }
        } @else {
            .#{$prefix_component_grid}container {
                max-width: 95%;
            }
        }


    }
}

@if $include_component_grid {

    $grid_border: $color_brand_primary;
    $grid_gap: $size_gap;

    .#{$prefix_component_grid}row {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;

        // Apply space between the contained elements
        &--space-between {
            justify-content: space-between;
        }

        // Apply space around the contained elements
        &--space-around {
            justify-content: space-around;
        }

        // Flip the order of your row
        &--reverse {
            flex-direction: row-reverse;
        }

        // Do not wrap columns in row
        &--no-wrap {
            flex-wrap: nowrap;
        }

        // Stretch the size of the content in the columns so they're the same width/height
        &--flex {
            [class^=#{$prefix_component_grid}col-] { display: flex; }
            [class^=#{$prefix_component_grid}col-] > * { flex: 1 1 0; }
        }

        // Add a hairline border
        &--border {
            border: 1px solid $grid_border;
        }

        // Align the content to the left (default)
        &--align-left {
            justify-content: flex-start;
        }

        // Align the content to the right
        &--align-right {
            justify-content: flex-end;
        }

        // Add a spacing gap around top and bottom
        &--gap {
            margin: auto -1 * $grid_gap;

            > [class^=#{$prefix_component_grid}col-] {
                padding: $grid_gap;
            }
        }

        // Add a spacing gap horizontally between cols
        &--col-hgap {
            margin-left: -1 * $grid_gap;
            margin-right: -1 * $grid_gap;

            > [class^=#{$prefix_component_grid}col-] {
                padding-left: $grid_gap;
                padding-right: $grid_gap;
            }
        }

        // Add a spacing gap vertically between cols
        &--col-vgap {
            margin-top: -1 * $grid_gap;
            margin-bottom: -1 * $grid_gap;

            > [class^=#{$prefix_component_grid}col-] {
                padding-top: $grid_gap;
                padding-bottom: $grid_gap;
            }
        }
    }

    @include grid;
}