{% if include.section == "example" %}
<div class="alert-wrapper--top-right">
    <div class="alert alert--success alert--shadow">
        <div class="alert__close">{% include assets/icons/close.svg %}</div>
        <div class="alert__body">This is the body section of your alert.</div>
    </div>
     <div class="alert alert--warning alert--shadow">
        <div class="alert__close">{% include assets/icons/close.svg %}</div>
        <div class="alert__body">This is the body section of your alert.</div>
    </div>
    <div class="alert alert--error alert--shadow">
        <div class="alert__close">{% include assets/icons/close.svg %}</div>
        <div class="alert__body">This is the body section of your alert.</div>
    </div>
     <div class="alert alert--primary alert--shadow">
        <div class="alert__close">{% include assets/icons/close.svg %}</div>
        <div class="alert__body">This is the body section of your alert.  This is the body section of your alert.  This is the body section of your ...</div>
    </div>
</div>
{% else %}
<div class="alert-wrapper--bottom-right">
    <div class="alert alert--success alert--shadow">
        <div class="alert__body">This is the body section of your alert.</div>
    </div>
</div>
{% endif %}