{% if include.section == "example" %}
<div class="col-12">
    <div class="btn-group">
        <a href="#" class="btn--sm btn--default">Default</a>
        <a href="#" class="btn--sm btn--success">Success</a>
        <a href="#" class="btn--sm btn--warning">Warning</a>
        <a href="#" class="btn--sm btn--info">Info</a>
        <a href="#" class="btn--sm btn--error">Error</a>
        <a href="#" class="btn--sm btn--disabled">Disabled</a>
    </div>
</div>
<div class="col-12">
    <div class="btn-group">
        <a href="#" class="btn--default">Default</a>
        <a href="#" class="btn--success">Success</a>
        <a href="#" class="btn--warning">Warning</a>
        <a href="#" class="btn--info">Info</a>
        <a href="#" class="btn--error">Error</a>
        <a href="#" class="btn--disabled">Disabled</a>
    </div>
</div>
<div class="col-12">
    <div class="btn-group">
        <a href="#" class="btn--lg btn--default">Default</a>
        <a href="#" class="btn--lg btn--success">Success</a>
        <a href="#" class="btn--lg btn--warning">Warning</a>
        <a href="#" class="btn--lg btn--info">Info</a>
        <a href="#" class="btn--lg btn--error">Error</a>
        <a href="#" class="btn--lg btn--disabled">Disabled</a>
    </div>
</div>
{% else %}
<div class="btn-group">
    <a href="#" class="btn--default">Default</a>
    <a href="#" class="btn--success">Success</a>
    <a href="#" class="btn--warning">Warning</a>
    <a href="#" class="btn--info">Info</a>
    <a href="#" class="btn--error">Error</a>
    <a href="#" class="btn--disabled">Disabled</a>
</div>
{% endif %}