{% if include.section == "example" %}
<div class="col-12">
    <div class="btn-group">
        <a href="#" class="btn--sm btn--default--line">Default</a>
        <a href="#" class="btn--sm btn--success--line">Success</a>
        <a href="#" class="btn--sm btn--warning--line">Warning</a>
        <a href="#" class="btn--sm btn--info--line">Info</a>
        <a href="#" class="btn--sm btn--error--line">Error</a>
        <a href="#" class="btn--sm btn--disabled--line">Disabled</a>
    </div>
</div>
<div class="col-12">
    <div class="btn-group">
        <a href="#" class="btn--default--line">Default</a>
        <a href="#" class="btn--success--line">Success</a>
        <a href="#" class="btn--warning--line">Warning</a>
        <a href="#" class="btn--info--line">Info</a>
        <a href="#" class="btn--error--line">Error</a>
        <a href="#" class="btn--disabled--line">Disabled</a>
    </div>
</div>
<div class="col-12">
    <div class="btn-group">
        <a href="#" class="btn--lg btn--default--line">Default</a>
        <a href="#" class="btn--lg btn--success--line">Success</a>
        <a href="#" class="btn--lg btn--warning--line">Warning</a>
        <a href="#" class="btn--lg btn--info--line">Info</a>
        <a href="#" class="btn--lg btn--error--line">Error</a>
        <a href="#" class="btn--lg btn--disabled--line">Disabled</a>
    </div>
</div>
{% else %}
<div class="btn-group">
    <a href="#" class="btn--default--line">Default</a>
    <a href="#" class="btn--success--line">Success</a>
    <a href="#" class="btn--warning--line">Warning</a>
    <a href="#" class="btn--info--line">Info</a>
    <a href="#" class="btn--error--line">Error</a>
    <a href="#" class="btn--disabled--line">Disabled</a>
</div>
{% endif %}