{% if include.section == "example" %}
<div class="col-12 col-md-6 col-lg-4 col-xl-3">
    <div class="card card--border">
        <div class="card__media">Media</div>
        <div class="card__head">Media Card Title</div>
        <div class="card__body">This is the body section of your card.  Like dogs, cards do better with a friend.  Go ahead and group them!</div>
    </div>
</div>
<div class="col-12 col-md-6 col-lg-4 col-xl-3">
    <div class="card card--border">
        <div class="card__media">Media</div>
        <div class="card__head">Media Card Title</div>
        <div class="card__body">This is the body section of your card.  Like dogs, cards do better with a friend.  Go ahead and group them!</div>
    </div>
</div>
<div class="col-12 col-md-6 col-lg-4 col-xl-3">
    <div class="card card--border">
        <div class="card__media">Media</div>
        <div class="card__head">Media Card Title</div>
        <div class="card__body">This is the body section of your card.  Like dogs, cards do better with a friend.  Go ahead and group them!</div>
    </div>
</div>
<div class="col-12 col-md-6 col-lg-4 col-xl-3">
    <div class="card card--border">
        <div class="card__media">Media</div>
        <div class="card__head">Media Card Title</div>
        <div class="card__body">This is the body section of your card.  Like dogs, cards do better with a friend.  Go ahead and group them!</div>
    </div>
</div>
{% else %}
<div class="card card--border">
    <div class="card__media">Media</div>
    <div class="card__head">Media Card Title</div>
    <div class="card__body">This is the body section of your card.  Like dogs, cards do better with a friend.  Go ahead and group them!</div>
</div>
{% endif %}