<h1>{{ page.title }}</h1>
<div class="row row--component-header">
    <div class="col-md-9 p-r-md-4">
        <p>{{ page.description }}</p>

        {% if page.classes %}
        <a class="anchor--docs" id="modifier-classes"></a>
        <table class="table table--striped m-b-4">
            <thead><tr><th class="table__modifier-classes">Modifier Classes</th><th class="table__modifies">Modifies</th><th>Description</th></tr></thead>
            <tbody>
                {% for class in page.classes %}
                <tr><td><code>{{ class.item.title }}</code></td><td><code>{{ class.item.tag }}</code></td><td class="text-breakword">{{ class.item.description }}</td></tr>
                {% endfor %}
            </tbody>
        </table>
        {% endif %}
    </div>
    <div class="col-12 col-md-3 p-l-md-4">
        <div class="well well--secondary m-b-4">
            <h3 class="m-b-2">Contents</h3>
            <ul class="list">
            {% if page.classes %}
            <li class="m-b-1"><a href="#modifier-classes">Modifier Classes</a></li>
            {% endif %}
            {% for idea in page.sections %}
            <li class="m-b-1"><a href="#{{ idea.item.title | slugify }}">{{ idea.item.title }}</a></li>
            {% endfor %}
            </ul>
        </div>
    </div>
</div>