<script>
    // Toggle the hamburger menu open
    var $nav = document.querySelector('.nav--slidedown'),
        $navTrigger = document.querySelector('.nav__hamburger__icon');
    var navActive = false;
    if ($navTrigger && $nav) {
        $navTrigger.addEventListener('click', function() {
            if (navActive) {
                $nav.classList.remove('nav--slidedown--active');
            } else {
                $nav.classList.add('nav--slidedown--active');
            }
            navActive = !navActive;
        });
    }

    // Toggle sub-menus open
    var $subNav = document.querySelector('.nav__links__list'),
        $subNavTrigger = $subNav.querySelector('.nav__links__trigger'),
        $subNavList = $subNav.querySelector('.list');
    var subNavActive = false;
    if ($subNavTrigger && $subNav) {
        $subNavTrigger.addEventListener('click', function() {
            if (subNavActive) {
                $subNavList.classList.remove('list--active');
            } else {
                $subNavList.classList.add('list--active');
            }
            subNavActive = !subNavActive;
        });
    }
</script>