{% if include.section == "example" %}
<a href="#" class="link link--underline p-x-1">Basic</a>
<a href="#" class="link link--default link--underline p-x-1">Default</a>
<a href="#" class="link link--success link--underline p-x-1">Success</a>
<a href="#" class="link link--warning link--underline p-x-1">Warning</a>
<a href="#" class="link link--info link--underline p-x-1">Info</a>
<a href="#" class="link link--error link--underline p-x-1">Error</a>
<a href="#" class="link link--disabled link--underline p-x-1">Disabled</a>
{% else %}
<a href="#" class="link link--underline">Basic</a>
<a href="#" class="link link--default link--underline">Default</a>
<a href="#" class="link link--success link--underline">Success</a>
<a href="#" class="link link--warning link--underline">Warning</a>
<a href="#" class="link link--info link--underline">Info</a>
<a href="#" class="link link--error link--underline">Error</a>
<a href="#" class="link link--disabled link--underline">Disabled</a>
{% endif %}