{% if include.section == "example" %}
<a href="#" class="link p-x-1">Basic</a>
<a href="#" class="link link--default p-x-1">Default</a>
<a href="#" class="link link--success p-x-1">Success</a>
<a href="#" class="link link--warning p-x-1">Warning</a>
<a href="#" class="link link--info p-x-1">Info</a>
<a href="#" class="link link--error p-x-1">Error</a>
<a href="#" class="link link--disabled p-x-1">Disabled</a>
{% else %}
<a href="#" class="link">Basic</a>
<a href="#" class="link link--default">Default</a>
<a href="#" class="link link--success">Success</a>
<a href="#" class="link link--warning">Warning</a>
<a href="#" class="link link--info">Info</a>
<a href="#" class="link link--error">Error</a>
<a href="#" class="link link--disabled">Disabled</a>
{% endif %}