{% if include.section == "example" %}
<a href="#" class="link--default p-x-1">Default</a>
<a href="#" class="link--success p-x-1">Success</a>
<a href="#" class="link--warning p-x-1">Warning</a>
<a href="#" class="link--info p-x-1">Info</a>
<a href="#" class="link--error p-x-1">Error</a>
<a href="#" class="link--disabled p-x-1">Disabled</a>
{% else %}
<a href="#" class="link--default">Default</a>
<a href="#" class="link--success">Success</a>
<a href="#" class="link--warning">Warning</a>
<a href="#" class="link--info">Info</a>
<a href="#" class="link--error">Error</a>
<a href="#" class="link--disabled">Disabled</a>
{% endif %}