<div class="modal">
    <div class="modal__window p-4">
        <h2 class="text-center text--primary m-b-4">That's how you modal.</h2>
        <p class="m-b-4">Ducimus pariatur animi ab consectetur fuga. Asperiores perferendis eveniet ducimus laudantium. Et minus est modi iusto asperiores explicabo natus qui.</p>
        <div class="row m-b-0">
            <div class="col-12 col-sm-6 m-b-2 m-b-sm-0 p-r-sm-2">
                <a href="{{ "/components/modal" | relative_url }}" class="btn btn--primary--line btn--lg" id="modal__ok">OK</a>    
            </div>
            <div class="col-12 col-sm-6 p-l-sm-2">
                <a href="{{ "/components/modal" | relative_url }}" class="col-12 col-sm-6 btn btn--default--line btn--lg" id="modal__close">CLOSE</a>
            </div>
        </div>
    </div>
    <div class="modal__overlay"></div>
</div>