<nav class="nav nav--docs nav-sm--sticky nav--slidedown">
    <div class="container m-x-auto">
        <div class="row row--space-between">
            <div class="nav__left col-12 col-sm-0">
                <a href="{{ "/" | relative_url }}" class="nav__logo m-x-auto m-sm-x-0">Jack</a>
                <a class="nav__hamburger__icon sm--hidden">
                    <div class="nav__hamburger__icon__line"></div>
                    <div class="nav__hamburger__icon__line"></div>
                    <div class="nav__hamburger__icon__line"></div>
                </a>
            </div>
            <div class="nav__right nav__links">
                <a href="{{ "/kitchen-sink" | relative_url }}">Components</a>
                <a href="https://www.github.com/Cornally/jack">Github</a>
                <a href="https://www.twitter.com/Cornally">Twitter</a>
            </div>
        </div>
    </div>
</nav>