<nav class="nav nav--docs nav--slidedown">
    <div class="container m-x-auto">
        <div class="row row--space-between">
            <div class="nav__left col-12 col-sm-0">
                <a href="{{ "/" | relative_url }}" class="nav__logo m-x-auto m-sm-x-0">Jack</a>
                <a class="nav__hamburger__icon sm--hidden">
                    <div class="nav__hamburger__icon__line"></div>
                    <div class="nav__hamburger__icon__line"></div>
                    <div class="nav__hamburger__icon__line"></div>
                </a>
            </div>
            <div class="nav__right nav__links">
                <div class="nav__links__list">
                    <a href="#" class="link nav__links__trigger">Components</a>
                    <ul class="list">
                        {% for item in site.components %}
                            {% if page.url == item.url %}
                            <li class="list__item list__item--secondary-bar"><a href="{{ item.url | relative_url }}" class="link">{{ item.title | escape }}</a></li>
                            {% else %}
                            <li class="list__item"><a href="{{ item.url | relative_url }}" class="link">{{ item.title | escape }}</a></li>
                            {% endif %}
                        {% endfor %}
                    </ul>
                </div>
                <div class="nav__links__list">
                    <a href="#" class="link nav__links__trigger">Customize</a>
                    <ul class="list">
                        {% for item in site.customization %}
                            {% if page.url == item.url %}
                            <li class="list__item list__item--secondary-bar"><a href="{{ item.url | relative_url }}" class="link">{{ item.title | escape }}</a></li>
                            {% else %}
                            <li class="list__item"><a href="{{ item.url | relative_url }}" class="link">{{ item.title | escape }}</a></li>
                            {% endif %}
                        {% endfor %}
                    </ul>
                </div>
                <a href="https://www.github.com/Cornally/jack" class="link">GitHub</a>
                <a href="https://www.twitter.com/getjacked_io" class="link">Twitter</a>
            </div>
        </div>
    </div>
</nav>