<nav class="nav nav--docs nav-sm--sticky nav--slidedown">
    <div class="container m-x-auto">
        <div class="row row--space-between">
            <div class="nav__left col-12 col-sm-0">
                <a href="{{ "/" | relative_url }}" class="nav__logo m-x-auto m-sm-x-0">Jack</a>
                <a class="nav__hamburger__icon sm--hidden">
                    <div class="nav__hamburger__icon__line"></div>
                    <div class="nav__hamburger__icon__line"></div>
                    <div class="nav__hamburger__icon__line"></div>
                </a>
            </div>
            <div class="nav__right nav__links">
                <div class="nav__links__list">
                    <a href="#" class="link nav__links__trigger">Components</a>
                    <ul class="list">
                        {% for component in site.components %}
                            {% if page.url == component.url %}
                            <li class="list__item list__item--info-bar"><a href="{{ component.url | relative_url }}" class="link">{{ component.title | escape }}</a></li>
                            {% else %}
                            <li class="list__item"><a href="{{ component.url | relative_url }}" class="link">{{ component.title | escape }}</a></li>
                            {% endif %}
                        {% endfor %}
                    </ul>
                </div>
                <a href="https://www.github.com/Cornally/jack" class="link">Github</a>
                <a href="https://www.twitter.com/Cornally" class="link">Twitter</a>
            </div>
        </div>
    </div>
</nav>