<div class="section-wrapper">
    <section class="section--angled">
    <div class="container p-4 m-x-auto">
        <h2 class="m-b-2 text_brand_03">Sample Section</h2>
        <p class="text_brand_04">Qui dicta et ut et officia facilis qui voluptatibus reiciendis. Ex quia ut qui fuga voluptatem dolores assumenda praesentium excepturi. Expedita nostrum repudiandae ea nulla. Provident aspernatur suscipit earum animi minima quos ut nobis. Eos blanditiis expedita id nihil reprehenderit est et optio. Omnis qui ut nesciunt ea velit quaerat numquam voluptas animi.</p>
    </div>
    </section>

    <section class="section--angled">
    <div class="container p-4 m-x-auto">
        <h2 class="m-b-2 text_brand_03">Sample Section</h2>
        <p class="text_brand_04">Id quisquam et in sapiente. Quae totam harum molestiae. Amet qui aut alias dolorem magnam ut sint voluptatum ducimus. Esse fugiat perspiciatis. Repudiandae nulla reiciendis consequatur ut et fuga maiores impedit.</p>
    </div>
    </section>

    <section class="section--angled">
    <div class="container p-4 m-x-auto">
        <h2 class="m-b-2 text_brand_03">Sample Section</h2>
        <p class="text_brand_04">Distinctio impedit quibusdam placeat animi a in. Nulla nihil expedita. Maiores necessitatibus consequuntur.Quisquam id consequatur. Dicta aperiam blanditiis ut animi ipsa. Exercitationem dolorem nostrum. Itaque sunt quod nihil repellendus aut quo rerum.</p>
    </div>
    </section>
</div>