<table class="table">
<thead>
    <tr>
        <th>Header</th>
        <th>Header</th>
        <th>Header</th>
        <th>Header</th>
    </tr>
</thead>
<tbody>
    <tr>
        <td>Cell with big data</td>
        <td>Cell with medium data.</td>
        <td>Cell with small data.</td>
        <td>Cell out.</td>
    </tr>
    <tr>
        <td>Cell with big data</td>
        <td>Cell with medium data.</td>
        <td>Cell with small data.</td>
        <td>Cell out.</td>
    </tr>
    <tr>
        <td>Cell with big data</td>
        <td>Cell with medium data.</td>
        <td>Cell with small data.</td>
        <td>Cell out.</td>
    </tr>
    <tr>
        <td>Cell with big data</td>
        <td>Cell with medium data.</td>
        <td>Cell with small data.</td>
        <td>Cell out.</td>
    </tr>
</tbody>
</table>