{% if include.section == "example" %}
<div class="well m-b-4">
    <h3 class="m-b-1">Well Title</h3>
    <p class="m-b-0">Qui optio qui mollitia repellendus quaerat laudantium dolor. Et facere nulla magnam. Quos et dolorem dolorem recusandae.Look</p>
</div>
<div class="well well--default m-b-4">
    <h3 class="m-b-1">Default</h3>
    <p class="m-b-0">Qui optio qui mollitia repellendus quaerat laudantium dolor. Et facere nulla magnam. Quos et dolorem dolorem recusandae.Look</p>
</div>
<div class="well well--success m-b-4">
    <h3 class="m-b-1">Success</h3>
    <p class="m-b-0">Qui optio qui mollitia repellendus quaerat laudantium dolor. Et facere nulla magnam. Quos et dolorem dolorem recusandae.Look</p>
</div>
<div class="well well--warning m-b-4">
    <h3 class="m-b-1">Warning</h3>
    <p class="m-b-0">Qui optio qui mollitia repellendus quaerat laudantium dolor. Et facere nulla magnam. Quos et dolorem dolorem recusandae.Look</p>
</div>
<div class="well well--info m-b-4">
    <h3 class="m-b-1">Info</h3>
    <p class="m-b-0">Qui optio qui mollitia repellendus quaerat laudantium dolor. Et facere nulla magnam. Quos et dolorem dolorem recusandae.Look</p>
</div>
<div class="well well--error m-b-4">
    <h3 class="m-b-1">Error</h3>
    <p class="m-b-0">Qui optio qui mollitia repellendus quaerat laudantium dolor. Et facere nulla magnam. Quos et dolorem dolorem recusandae.Look</p>
</div>
<div class="well well--primary m-b-4">
    <h3 class="m-b-1">Primary Brand</h3>
    <p class="m-b-0">Qui optio qui mollitia repellendus quaerat laudantium dolor. Et facere nulla magnam. Quos et dolorem dolorem recusandae.Look</p>
</div>
<div class="well well--secondary">
    <h3 class="m-b-1">Secondary Brand</h3>
    <p class="m-b-0">Qui optio qui mollitia repellendus quaerat laudantium dolor. Et facere nulla magnam. Quos et dolorem dolorem recusandae.Look</p>
</div>
{% else %}
<div class="well">
    <h3 class="m-b-1">Well, well, well.</h3>
    <p>Qui optio qui mollitia repellendus quaerat laudantium dolor. Et facere nulla magnam. Quos et dolorem dolorem recusandae.Look</p>
</div>
{% endif %}