@import '../settings/all';

@if $include_typography {

    // Defaults
    body {
        color: $color_dark_01;
        font-size: $size_font_normal;
        font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
    }

    // Alignment
    .#{$prefix-typography}text-left {
        text-align: left;
    }

    .#{$prefix-typography}text-right {
        text-align: right;
    }

    .#{$prefix-typography}text-center {
        text-align: center;
    }


    // Line breaks
    .#{$prefix-typography}text-nowrap {
        white-space: nowrap;
    }


    // Ellipsis (...)
    .#{$prefix-typography}text-ellipsis {
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }

}