@import '../settings/all';

@if $include_typography or $jack_include_all {

    %text_header {
        font-family: $typography_header_font;
    }

    %text_paragraph {
        line-height: $typography_body_lineheight;
    }

    .#{$prefix_typography}text {
        &-body {
            @extend %text_paragraph;
            color: $color_dark_4;
            font-family: $typography_body_font;
            font-size: $size_font_md;
        }

        &-h-1 {
            @extend %text_header;
            color: $color_dark_1;
            font-size: $size_font_xxl;
        }

        &-h-2 {
            @extend %text_header;
            color: $color_dark_1;
            font-size: $size_font_xl;
        }

        &-h-3 {
            @extend %text_header;
            color: $color_dark_1;
            font-size: $size_font_lg;
        }

        &-h-4 {
            @extend %text_header;
            font-size: $size_font_md;
        }

        &-h-5 {
            @extend %text_header;
            font-size: $size_font_sm;
        }

        &-p-1 {
            @extend %text_paragraph;
        }

        &-p-2 {
            @extend %text_paragraph;
        }

        &-p-3 {
            @extend %text_paragraph;
        }

        &-p-4 {
            @extend %text_paragraph;
        }

        &-p-5 {
            @extend %text_paragraph;
        }

        &-left {
            text-align: left;
        }

        &-right {
            text-align: right;
        }

        &-center {
            text-align: center;
        }

        &-justify {
            text-align: justify;
        }

        &-nowrap {
            white-space: nowrap;
        }

        &-breakword {
            word-break: break-word;
        }

        &-ellipsis {
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
        }

        @each $size, $px in $sizes_font {
            &-size-#{$size} {
                font-size: $px;
            }
        }

        @each $state, $color in $colors_all {
            &--#{$state} {
                color: $color;
            }
        }
    }

} @else { @warn 'We strongly encourage enabling $include_typography or adding your own font styling to the <body> tag.' }
