@import '../settings/all';

@if $include_typography or $jack_include_all {

    %text_header {
        font-family: $typography_header_font;
    }
    %text_paragraph {
        line-height: $typography_body_lineheight;
    }

    .#{$prefix_typography}text {
        &-body {
            color: $color_dark_04;
            font-family: $typography_body_font;
            font-size: $size_font_md;
            @extend %text_paragraph;
        }

        &-h-1 {
            color: $color_dark_01;
            font-size: $size_font_xxl;
            @extend %text_header;
        }

        &-h-2 {
            color: $color_dark_01;
            font-size: $size_font_xl;
            @extend %text_header;
        }

        &-h-3 {
            color: $color_dark_01;
            font-size: $size_font_md;
            @extend %text_header;
        }

        &-h-4 {
            @extend %text_header;
        }

        &-h-5 {
            @extend %text_header;
        }

        &-p-1 {
            @extend %text_paragraph;
        }

        &-p-2 {
            @extend %text_paragraph;
        }

        &-p-3 {
            @extend %text_paragraph;
        }

        &-p-4 {
            @extend %text_paragraph;
        }

        &-p-5 {
            @extend %text_paragraph;
        }

        &--left {
            text-align: left;
        }

        &--right {
            text-align: right;
        }

        &--center {
            text-align: center;
        }

        &--nowrap {
            white-space: nowrap;
        }
        
        &--breakword {
            word-break: break-word;
        }

        &--ellipsis {
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
        }

        @each $size, $px in $sizes_font {
            &-size-#{$size} {
                font-size: $px;
            }
        }

        @each $state, $color in $colors_all {
            &--#{$state} {
                color: $color;
            }
        }
    }

}