{% if section == "add-brand-colors" %}
// Testing out a new brand color
@import 'jack/settings/colors';
$colors_brand: map-merge($colors_brand, (experimental: salmon));

// Outputs
.btn--experimental { background: salmon; }
.alert--experimental { background: salmon; }
.divider--experimental { background: salmon; }
.card--experimental { background: salmon; }
{% endif %}

{% if section == "remove-brand-colors" %}
// Removing default "secondary" brand color
@import 'jack/settings/colors';
$colors_brand: map-remove($colors_brand, (secondary));
{% endif %}

{% if section == "add-state-colors" %}
// Add a 'welcome' state
@import 'jack/settings/colors';
$colors_brand: map-merge($colors_states, (welcome: #ffebcd));

// Outputs
.btn--welcome { background: #ffebcd; }
.alert--welcome { background: #ffebcd; }
.divider--welcome { background: #ffebcd; }
.card--welcome { background: #ffebcd; }
{% endif %}