{% if section == "add-brand-colors" %}
// Testing out a new brand color
@import 'jack/settings/colors';
$colors_brand: map-merge($colors_brand, (experimental: salmon));

// Outputs
.btn--experimental { /* Salmon-flavored styles */ }
.alert--experimental { /* Salmon-flavored styles */ }
.divider--experimental { /* Salmon-flavored styles */ }
.card--experimental { /* Salmon-flavored styles */ }
{% endif %}

{% if section == "remove-brand-colors" %}
// Removing default "secondary" brand color
@import 'jack/settings/colors';
$colors_brand: map-remove($colors_brand, (secondary));
{% endif %}

{% if section == "add-state-colors" %}
// Add a 'welcome' state
@import 'jack/settings/colors';
$colors_brand: map-merge($colors_states, (welcome: #8bc34a));

// Outputs
.btn--welcome { background: #8bc34a; }
.alert--welcome { background: #8bc34a; }
.divider--welcome { background: #8bc34a; }
.card--welcome { background: #8bc34a; }
{% endif %}

{% if section == "generate-classes" %}
// Generate shade derivative classes
@include generateColorTicks('class', 'bg_latte', #5258C7, 'background', 'lighten', 10%, 5);

// Outputs
.bg_latte_01 { background: #c9bd7e; }
.bg_latte_02 { background: #d7ce9e; }
.bg_latte_03 { background: #e4debf; }
.bg_latte_04 { background: #f2efdf; }
.bg_latte_05 { background: #fff; }
{% endif %}

{% if section == "generate-placeholders" %}
// Generate shade derivatives placeholders
@include generateColorTicks('placeholder', 'bg_brand', #5258C7, 'background', 'darken', 10%, 5);

.section--angled:nth-of-type(1):after { @extend %bg_brand_03; }
.section--angled:nth-of-type(2):after { @extend %bg_brand_02; }
.section--angled:nth-of-type(3):after { @extend %bg_brand_04; }
{% endif %}