{% if section == "add-brand-colors" %}
<div class="p-x-3">
    <div class="btn btn--experimental m-t-2 m-b-4">.btn--experimental</div>
    <div style="width: 100%" class="divider divider--experimental divider--label m-b-4"><div class="divider__text">.divider--experimental</div></div>
    <div style="width: 100%" class="card card--experimental m-b-4">
        <div class="card__head">.card--experimental</div>
        <div class="card__body">Lorem ipsum Elit laborum eu ullamco ex esse laboris sint aliquip eiusmod pariatur laborum Duis adipisicing eiusmod aute velit fugiat veniam in.</div>
    </div>
    <div class="well well--experimental m-b-4">
        <h3 class="m-b-1">.well--experimental</h3>
        <p class="m-b-0">Qui optio qui mollitia repellendus quaerat laudantium dolor. Et facere nulla magnam. Quos et dolorem dolorem recusandae.Look</p>
    </div>
    <ul class="list">
        <li class="list__item list__item--experimental">.list__item--experimental</li>
        <li class="list__item list__item--experimental">.list__item--experimental</li>
        <li class="list__item list__item--experimental">.list__item--experimental</li>
    </ul>
</div>
{% endif %}

{% if section == "add-state-colors" %}
<div class="p-x-3">
    <div class="btn btn--welcome m-t-2 m-b-4">.btn--welcome</div>
    <div style="width: 100%" class="divider divider--welcome divider--label--left m-b-4"><div class="divider__text">.divider--welcome</div></div>
    <div style="width: 100%" class="card card--welcome m-b-4">
        <div class="card__head">.card--welcome</div>
        <div class="card__body">Lorem ipsum Elit laborum eu ullamco ex esse laboris sint aliquip eiusmod pariatur laborum Duis adipisicing eiusmod aute velit fugiat veniam in.</div>
    </div>
    <div class="well well--welcome m-b-4">
        <h3 class="m-b-1">.well-welcome!</h3>
        <p class="m-b-0">Qui optio qui mollitia repellendus quaerat laudantium dolor. Et facere nulla magnam. Quos et dolorem dolorem recusandae.Look</p>
    </div>
    <ul class="list">
        <li class="list__item list__item--welcome-bar">.list__item--welcome-bar</li>
        <li class="list__item list__item--welcome-bar">.list__item--welcome-bar</li>
        <li class="list__item list__item--welcome-bar">.list__item--welcome-bar</li>
    </ul>
</div>
{% endif %}

{% if section == "generate-classes" %}
<div class="p-x-3">
    <div class="bg_latte_01 text_latte_01 p-2 m-1">.bg_latte_01</div>
    <div class="bg_latte_02 text_latte_02 p-2 m-1">.bg_latte_02</div>
    <div class="bg_latte_03 text_latte_03 p-2 m-1">.bg_latte_03</div>
    <div class="bg_latte_04 text_latte_04 p-2 m-1">.bg_latte_04</div>
    <div class="bg_latte_05 text_latte_05 p-2 m-1">.bg_latte_05</div>
</div>
{% endif %}