{% if section == "add-brand-colors" %}
// Testing out a new brand color
@import 'jack/settings/colors';
$colors_brand: map-merge($colors_brand, (experimental: #fa7162));

// Outputs
.btn--experimental { /* Salmon-flavored styles */ }
.alert--experimental { /* Salmon-flavored styles */ }
.divider--experimental { /* Salmon-flavored styles */ }
.card--experimental { /* Salmon-flavored styles */ }
{% endif %}

{% if section == "remove-brand-colors" %}
// Removing default "secondary" brand color
@import 'jack/settings/colors';
$colors_brand: map-remove($colors_brand, (secondary));
{% endif %}

{% if section == "add-state-colors" %}
// Add a 'welcome' state
@import 'jack/settings/colors';
$colors_brand: map-merge($colors_states, (welcome: #8bc34a));

// Outputs
.btn--welcome { background: #8bc34a; }
.alert--welcome { background: #8bc34a; }
.divider--welcome { background: #8bc34a; }
.card--welcome { background: #8bc34a; }
{% endif %}

{% if section == "generate-classes" %}
// Generate shade derivative classes
@include generateColorTicks('class', 'bg latte', #5258C7, 'background', 'lighten', 10%, 5);

// Outputs
.bg-latte-1 { background: #af9755; }
.bg-latte-2 { background: #bdaa74; }
.bg-latte-3 { background: #ccbd94; }
.bg-latte-4 { background: #dbd0b3; }
.bg-latte-5 { background: #eae3d2; }
{% endif %}

{% if section == "generate-placeholders" %}
// Generate shade derivatives placeholders
@include generateColorTicks('placeholder', 'bg brand', #5258C7, 'background', 'darken', 10%, 5);

.section--angled:nth-of-type(1):after { @extend %bg_brand_3; }
.section--angled:nth-of-type(2):after { @extend %bg_brand_2; }
.section--angled:nth-of-type(3):after { @extend %bg_brand_4; }
{% endif %}