@import '../settings/all';

@if $include_form_button {

        %btn {
            cursor: pointer;
            display: inline-block;
            border-style: solid;
            border-width: 1px;
            border-radius: $size_br_small;
            font-size: 14px;
            font-weight: bold;
            padding: $size_gap $size_gap*2;
            text-align: center;

            // Space them out by default
            .btn-group & {
                float: left;
                margin-right: $size_gap;
                margin-bottom: $size_gap;
            }
        }

        @each $state, $color in $colors_states {

            .#{$prefix_form_button}btn--#{$state} {
                @extend %btn;
                border-color: $color;
                background: $color;
                color: white;
                &:hover {
                    color: white;
                    background: $color/1.15;
                    border-color: $color/1.15;
                }
                &:active {
                    color: white;
                    background: $color/1.3;
                    border-color: $color/1.3;
                }
                @if($state == 'disabled') {
                    &,
                    &:hover,
                    &:active {
                        color: darken($color, 25%);
                        background: $color;
                        border-color: $color;
                    }
                    &:hover { cursor: not-allowed; }
                }
            }

            .#{$prefix_form_button}btn--#{$state}--line {
                @extend %btn;
                border-color: rgba($color, .5);
                color: $color;
                &:hover {
                    color: $color;
                    border-color: currentColor;
                }
                &:active {
                    color: $color;
                    border-color: currentColor;
                }
                @if($state == 'disabled') {
                    &,
                    &:hover,
                    &:active {
                        color: $color, 25;
                        border-color: rgba($color, .5);
                    }
                    &:hover { cursor: not-allowed; }
                }
            }
        }

        @each $brand, $color in $colors_brand {

            .#{$prefix_form_button}btn--#{$brand} {
                @extend %btn;
                border-color: $color;
                background: $color;
                color: white;
                &:hover {
                    color: white;
                    background: $color/1.15;
                }
                &:active {
                    color: white;
                    background: $color/1.3;
                }
            }

            .#{$prefix_form_button}btn--#{$brand}--line {
                @extend %btn;
                border-color: rgba($color, .5);
                color: $color;
                &:hover {
                    color: $color;
                    border-color: currentColor;
                }
                &:active {
                    color: $color;
                    border-color: currentColor;
                }
            }
        }

        .btn--sm {
            font-size: $size_font_small;
            padding: $size_gap/2 $size_gap;
            line-height: 1.5em;
        }

        .btn--lg {
            font-size: 16px;
            padding: $size_gap*2 $size_gap*3;
        }
}