@import '../settings/all';

@if $include_forms_buttons {
        // Pseudo button
        %btn {
            display: block;
            border-style: solid;
            border-width: 1px;
            border-radius: 3px;
            padding: $size_gap $size_gap*2;
            font-size: 14px;
            font-weight: bold;

            // Space them out by default
            .btn-group & {
                float: left;
                margin-right: $size_gap;
                margin-bottom: $size_gap;
            }
        }

        // Button States
        @each $state, $color in $colors_states {

            // Solid Buttons
            .#{$prefix_forms_buttons}btn--#{$state} {
                @extend %btn;
                border-color: $color;
                background: $color;
                color: white;
            }

            // Line Buttons
            .#{$prefix_forms_buttons}btn--#{$state}--line {
                @extend %btn;
                border-color: $color;
                background: rgba($color,.025);
                color: $color;
            }
        }
}