@import '../settings/all';

@if $include_component_card {

    $card_padding: decimal-round($size_gap*2);

    .#{$prefix-component_card}card {
        display: flex;
        flex-direction: column;

        &.#{$prefix_component_card}card-no-padding {
            padding: 0;
        }

        &.#{$prefix_component_card}card-border {
            border: 1px solid $color_light_03;
        }

        &.#{$prefix-component_card}card-shadow {
            box-shadow: 0 2px 4px rgba($color_dark_01,.05);
            &.#{$prefix_component_card}card-border {
                border: 1px solid $color_light_04;
            }
        }

        // Card States
        @each $state, $color in $colors_states {
            // Build out column widths for each breakpoint size
            &.#{$prefix_component_card}card-state-#{$state} {
                border-color: $color;
                .#{$prefix_component_card}card-head {
                    color: white;
                    background: $color;
                }
            }
        }

        .#{$prefix_component_card}card-head {
            font-size: $size_font_big;
            font-weight: bold;
        }

        .#{$prefix_component_card}card-body {
            font-size: $size_font_normal;
        }

    }

}