@import '../settings/all';

@if check($include_component_divider) {
	
	hr,
	.#{$prefix_component_divider}divider {
		display: flex;
		justify-content: space-around;
		align-items: center;
		border: none;

		&:before, &:after {
			display: block;
			content: " ";
			height: 1px;
			flex: 1;
			background-color: $color_light_03;
		}

		&--label { text-align: center; }
		&--label--left:before { display: none; }
		&--label--right:after { display: none; }
		
		&__text {

			color: $color_light_04;
			font-weight: bold;
			text-transform: uppercase;
			padding: 0 $size_gap;
			flex: 0;
			white-space: nowrap;
		}
	}

	@each $state, $color in $colors_all {
		.#{$prefix_form_button}divider--#{$state} {
			&:before, &:after { background-color: rgba($color, .5); }
			.#{$prefix_form_button}divider__text { color: $color; }
		}
	}
}