@import '../settings/all';

@if check($include_component_hero) {
    
    .#{$prefix_component_hero}hero {
        align-items: center;
        background: $color_brand_secondary;
        color: $color_light_1;
        display: flex;
        flex-direction: column;
        justify-content: center;
        min-height: 75vh;
    }
}
