@import '../settings/all';

@if $include_component_link {
    a,
    .#{$prefix_component_link}link {
        color: $color_brand_primary;
        &:hover { color: adjust-color($color_brand_primary, $lightness: -5%, $saturation: -15%); }
        &--active { font-weight: bold; }
    }

    @each $state, $color in $colors_all {
        .#{$prefix_component_list}link--#{$state} {
            color: $color;
            &:hover { color: adjust-color($color_brand_primary, $lightness: -5%, $saturation: -15%); }
            @if($state == 'disabled') {
                &,
                &:hover,
                &:active {
                    color: $color;
                }
                &:hover { cursor: not-allowed; }
            }
        }
    }

}