@import '../settings/all';

@if check($include_component_link) {

    .#{$prefix_component_link}link {
        color: $color_brand_primary;

        &:hover {
            color: adjust-color($color_brand_primary, $lightness: -5%, $saturation: -15%);
        }

        &--underline {
            text-decoration: underline;
            text-decoration-color: rgba(adjust-color($color_brand_primary, $lightness: -5%, $saturation: -15%), .25);

            &:hover {
                text-decoration: underline;
                text-decoration-color: rgba(adjust-color($color_brand_primary, $lightness: -5%, $saturation: -15%), .5);
            }
        }

        &--active {
            font-weight: bold;
        }

        @each $state, $color in $colors_all {
            &--#{$state} {
                color: $color;
                text-decoration-color: rgba(adjust-color($color, $lightness: -5%, $saturation: -15%), .25);

                &:hover {
                    color: adjust-color($color, $lightness: -5%, $saturation: -15%);
                    text-decoration-color: rgba(adjust-color($color, $lightness: -5%, $saturation: -15%), .5);
                }

                @if($state == 'disabled') {
                    &,
                    &:hover,
                    &:active {
                        color: $color;
                    }

                    &:hover {
                        cursor: not-allowed;
                    }
                }
            }
        }
    }
}
