@import '../settings/all';

@if $include_component_link {

    $cmp_hover-divider: 1.25;

    a,
    .#{$prefix_component_link}link {
        color: $color_brand_primary;
        &:hover { color: $color_brand_primary/$cmp_hover-divider; }
        &--active { font-weight: bold; }
    }

    @each $state, $color in $colors_all {
        .#{$prefix_component_list}link--#{$state} {
            color: $color;
            &:hover { color: $color/$cmp_hover-divider; }
            @if($state == 'disabled') {
                &,
                &:hover,
                &:active {
                    color: $color;
                }
                &:hover { cursor: not-allowed; }
            }
        }
    }

}