@import '../settings/all';

@if $include_component_list {

    .#{$prefix_component_list}list {
        
    }

    .#{$prefix_component_list}list__item {
        border-bottom: 1px solid rgba($color_brand_primary, .15);
        &:last-child { border-bottom: 0; }
    }


    @each $state, $color in $colors_states {
        .#{$prefix_component_list}list__item--#{$state} {
            &:before {
                display: inline-block;
                content: "#{$state}";
                text-indent: -9999px;
                background: $color;
                width: 15px;
                height: 15px;
                border-radius: 50%;
                margin-right: 15px;
            }
        }
    }

}