@import '../settings/all';

@if $include_component_list or $jack_include_all {

    %list_item_state {
        &:before {
            display: inline-block;
            content: " ";
            text-indent: -9999px;
            width: 1em;
            height: 1em;
            line-height: 1em;
            border-radius: 50%;
            margin-right: $gap_md;
        }
    }

    %list_item_state_bar {
        position: relative;
        padding-left: $gap_lg;
        &:before {
            position: absolute;
            top: 0;
            left: 0;
            width: 4px;
            height: 100%;
            content: " ";
            text-indent: -9999px;
        }
    }

    .#{$prefix_component_list}list {
        @extend %no_margins !optional;
        @extend %no_padding !optional;
        list-style: none;
    }

    .#{$prefix_component_list}list__item {
        padding: $size_gap $gap_md;
        border-bottom: 1px solid rgba($color_brand_primary, .10);
        &:last-child { border-bottom: 0; }
    }


    @each $state, $color in $colors_all {
        .#{$prefix_component_list}list__item--#{$state} {
            @extend %list_item_state !optional;
            &:before {
                background: $color;
            }
        }
        

        .#{$prefix_component_list}list__item--#{$state}-bar {
            @extend %list_item_state_bar !optional;
            &:before {
                background: $color;
            }
        }
    }

}