@import '../settings/all';

@if $include_component_nav {

    .#{$prefix_component_nav}nav {
        width: 100%;
        min-height: 50px;
        line-height: 50px;
        background: $color_brand_primary;

        @each $size, $px in $sizes_break {
            @media (min-width: $px) {
                // Set sticky per size
                &.#{$prefix_component_nav}nav-#{$size}--sticky {
                    position: fixed;
                    top: 0;
                    left: 0;
                    z-index: 10;
                    
                    // Push content down the height of the nav when sticky
                    & + *:before {
                        display: block;
                        content: "";
                        padding-top: 50px;
                    }
                }
            }

            @media (max-width: $px) {
                // Initial state
                &.#{$prefix_component_nav}nav-#{$size}--hamburger {
                    .nav__links {
                        width: 100%;
                        max-height: 0;
                        overflow: hidden;
                        transition: max-height .36s ease-out;

                        a:first-child {
                            margin-top: $size_gap*2;
                            border-top: 1px solid rgba($color_light_01, .075);
                        }
                    }
                    .nav__links a { display: block; }
                    .#{$prefix_component_nav}nav__hamburger__icon__line {
                        transition: all .18s ease;
                    }
                }
                // Open state
                &.#{$prefix_component_nav}nav-#{$size}--hamburger--active {
                    .container { max-width: 100%; }
                    .nav__links {
                        max-height: 483px;
                        overflow-y: auto;
                    }
                    // Transform to the menu icon
                    .#{$prefix_component_nav}nav__hamburger__icon__line {
                        &:nth-child(1) {
                            transform: translate3d(0, 7px, 0) rotate(-45deg);
                        }
                        &:nth-child(2) {
                            opacity: 0;
                        }
                        &:nth-child(3) {
                            transform: translate3d(0, -8px, 0) rotate(45deg);
                        }
                    }
                }
            }

        }
        
        .#{$prefix_component_nav}nav__logo {
            font-size: $size_font_big;
            font-weight: bold;
        }

        a {
            color: $color_light_01;
        }
        a:hover {
            color: $color_light_02;
        }

        .link--active { font-weight: bold; }
    }
}

.nav .nav__left {
    overflow: hidden;
}
.nav .nav__logo {
    font-size: 60px;
	font-weight: bolder;
	line-height: 1;
	padding: 0 10px;
	letter-spacing: -0.1em;
	margin: 0;
	height: 50px;
	position: relative;
	display: block;
	color: darken($color_brand_primary, 10%);
	top: -2px;
	transform: rotate(-5deg);
	user-select: none;
    &:hover {
        color: darken($color_brand_primary, 20%);
    }
}

// Icon
.#{$prefix_component_nav}nav__hamburger__icon {
    cursor: pointer;
    position: absolute;
    top: 0;
    left: 0;
    width: 50px;
	height: 50px;
    display: flex;
    flex-direction: column;
	align-items: center;
	justify-content: center;
}
.#{$prefix_component_nav}nav__hamburger__icon__line {
	width: 24px;
	height: 2px;
	background: lighten($color_brand_primary, 25%);
	border-radius: 2px;
	margin-bottom: 6px;
    &:last-child { margin-bottom: 0; }
}