@import '../settings/all';

@if $include_component_nav {

    $cmp_nav_height: 50px;

    .#{$prefix_component_nav}nav {
        width: 100%;
        min-height: $cmp_nav_height;
        line-height: $cmp_nav_height;
        background: $color_brand_primary;

        @each $size, $px in $sizes_break {
            @media (min-width: $px) {

                // Set sticky per size so that you can determine when the nav goes sticky
                &.#{$prefix_component_nav}nav-#{$size}--sticky {
                    position: fixed;
                    top: 0;
                    left: 0;
                    z-index: 10;
                    
                    // Push content down the height of the nav when sticky
                    & + *:before {
                        display: block;
                        content: "";
                        padding-top: $cmp_nav_height;
                    }
                }
            }
        }

        // Slide Down Menu
        @media (max-width: $size_break_sm) {
            &.#{$prefix_component_nav}nav--slidedown {
                .#{$prefix_component_nav}nav__logo {
                    text-align: center;
                }
                .#{$prefix_component_nav}nav__links {
                    width: 100%;
                    max-height: 0;
                    overflow: hidden;
                    transition: max-height .18s ease-out;

                    a:first-child {
                        border-top: 1px solid rgba($color_light_01, .075);
                    }
                }
                .nav__links a { display: block; }
                .#{$prefix_component_nav}nav__hamburger__icon__line {
                    transition: all .18s ease;
                }
            }

            // Open state
            &.#{$prefix_component_nav}nav--slidedown--active {
                .#{$prefix_component_nav}nav__links {
                    max-height: 150px; // Number of links * link height (px)
                    overflow-y: auto;
                }
                // Transform to the menu icon
                .#{$prefix_component_nav}nav__hamburger__icon__line {
                    &:nth-child(1) {
                        transform: translate3d(0, 7.25px, 0) rotate(-45deg);
                    }
                    &:nth-child(2) {
                        opacity: 0;
                    }
                    &:nth-child(3) {
                        transform: translate3d(0, -7.25px, 0) rotate(45deg);
                    }
                }
            }
        }

        a {
            color: $color_light_01;
        }
        a:hover {
            color: $color_light_02;
        }
    }

    .#{$prefix_component_nav}nav__logo {
        font-size: $size_font_big;
        font-weight: bold;
    }

    .#{$prefix_component_nav}nav__left {
        overflow: hidden;
    }

    // Icon
    .#{$prefix_component_nav}nav__hamburger__icon {
        cursor: pointer;
        position: absolute;
        top: 0;
        left: 0;
        width: $cmp_nav_height;
        height: $cmp_nav_height;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .#{$prefix_component_nav}nav__hamburger__icon__line {
        width: 24px;
        height: 2px;
        background: lighten($color_brand_primary, 25%);
        border-radius: 2px;
        margin-bottom: 5px;
        &:last-child { margin-bottom: 0; }
    }
}