@import '../settings/all';

@if check($include_component_tab) {

    .#{$prefix-component_tab}tabs {
        align-items: center;
        display: flex;
        flex-direction: row;
        justify-content: stretch;

        &__tab {
            color: $color_state_default;
            cursor: pointer;
            padding: $gap_sm $gap_md;

            &--active {
                color: $color_brand_primary;
                cursor: default;
                font-weight: bold;
                position: relative;
                &:hover {
                    color: $color_brand_primary;
                }
                &:after {
                    background: currentColor;
                    bottom: 0;
                    content: "";
                    display: block;
                    height: 3px;
                    left: 0;
                    position: absolute;
                    width: 100%;
                }
            }

            &--disabled {
                &,
                &:hover,
                &:active {
                    color: $color_state_disabled;
                    cursor: not-allowed;
                }
            }
        }

        &--border {
            border-bottom: 1px solid $color_light_03;
        }
    }
}