@import '../settings/all';

@if check($include_component_well) {

    %well_state {
        position: relative;
        padding-left: $gap_lg;
        &:before {
            content: " ";
            position: absolute;
            top: 0;
            left: 0;
            width: 4px;
            height: 100%;
            text-indent: -9999px;
        }
    }

    .#{$prefix-component_well}well {
        background: $color_light_02;
        padding: $gap_lg;

        &--no-padding {
            padding: 0;
        }

        &--border {
            border: 1px solid $color_light_03;
        }

        &--shadow {
            box-shadow: inset 0 1px 4px 1px rgba($color_dark_01, .075);
            &--border {
                border: 1px solid $color_light_03;
            }
        }

        @each $state, $color in $colors_all {
            &.#{$prefix-component_well}well--#{$state} {
                @extend %well_state !optional;
                &:before {
                    background: $color;
                }
            }
        }
    }

}