@import '../settings/all';

/* Reset a few styles. Note that we only reset things we're likely to use, rather than using a whole reset stylesheet.
   We also don't blindly overwrite base styles on things like UL, H1, or P because we follow semantic HTML standards and
   only use tags appropriately, where they're meant to be used. We WANT those default styles. */

@if $include-util-reset {
    html,
    body,
    div,
    span,
    article,
    details,
    footer,
    header,
    nav,
    section,
    summary,
    form {
        margin: 0;
        padding: 0;
        border: 0;
        vertical-align: baseline;
        box-sizing: border-box;
    }

    html { 
        height: 100%;
        font-size: 62.5%;
        font-family: sans-serif;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
    }

    body {
        height: 100%;
        width: 100%;
        margin: 0 auto;
        position: relative;
        overflow-x: hidden;
    }

    a,
    input,
    select { 
        box-sizing: border-box;
        -webkit-font-smoothing: antialiased; // Chrome needs this explicitely on inputs (vs. just html {...})
    }

    img {
        max-width: 100%;
        -ms-interpolation-mode: bicubic;
        display: block;
    }

    // Default links
    a {
        text-decoration: none;
        &:hover {
            text-decoration: none;
        }
        &:focus {
            outline-color: rgba(25,190,255,1);
        }
    }

    // Outline moved to box-shadow for accessibility
    h1,
    h2,
    h3 { outline: none; }

    p,
    h1,
    h2,
    h3,
    h4 {
        padding: 0;
        margin: 0;
    }

    // Hide Firefox <button> outline
    button::-moz-focus-inner {
        border: 0;
    }

    // Hide Firefox <input> outline
    input::-moz-focus-inner {
        border: 0;
    }


    // Disable yellow autofill boxes
    input:-webkit-autofill {
        -webkit-box-shadow: 0 0 0px 1000px #333 inset;
        -webkit-text-fill-color: #fff;
    }

    // Change highlight color
    * {
        &::selection { background: rgba($color_brand_primary, .5); }
    }

    // Disable tap highlight
    * { -webkit-tap-highlight-color: transparent; }

    // Hide Typekit badge
    .typekit-badge { display: none !important; }
}