$color_light_01       : #ffffff !default;
$color_light_02       : #f7f7f7 !default;
$color_light_03       : #ebebeb !default;
$color_light_04       : #d8d8d8 !default;

$color_dark_01        : #15161A !default;
$color_dark_02        : #1D1E23 !default;
$color_dark_03        : #31333B !default;
$color_dark_04        : #414551 !default;

$color_brand_primary  : #5258C7 !default;
$color_brand_secondary: #71E2D8 !default;

$color_state_success  : #6FDA7A;
$color_state_warning  : #EEE371;
$color_state_info     : #6BB8EB;
$color_state_error    : #DC4646;

$colors_states: (
    default: $color_dark_03,
    success: $color_state_success,
    warning: $color_state_warning,
    info   : $color_state_info,
    error  : $color_state_error
);