$color_light_01       : #ffffff;
$color_light_02       : #f7f7f7;
$color_light_03       : #ebebeb;
$color_light_04       : #d8d8d8;

$color_dark_01        : #15161A;
$color_dark_02        : #1D1E23;
$color_dark_03        : #31333B;

$color_brand_primary  : #444bc6;
$color_brand_secondary: #91dd70;

$color_state_success  : #6FDA7A;
$color_state_warning  : #EEE371;
$color_state_info     : #6BB8EB;
$color_state_error    : #DC4646;

$colors_states: (
    default: $color_dark_02,
    success: $color_state_success,
    warning: $color_state_warning,
    info   : $color_state_info,
    error  : $color_state_error
);