// Overwrite the values found in this file inside `_user.config.scss`

// Global override to include everything (opt out vs. in)
$jack_include_all: true !default;

// Prefix to be applied before classes:
// $global_prefix: 'your-theme-';
$global_prefix: '' !default;


// Include basic styling reset
$include_util_reset: null !default;

// Include helper classes for margins
$include_util_margins: null !default;

// Set a prefix or use the global prefix:
// $prefix_util_margins: $global_prefix;
$prefix_util_margins: $global_prefix !default;

// Include helper classes for margins
$include_util_padding: null !default;

// Set a prefix or use the global prefix:
// $prefix_util_padding: $global_prefix;
$prefix_util_padding: $global_prefix !default;


///////////////////////////////////////////////////////////
//
//  Animation
//
//  To opt out of including our animation keyframes,
//  easing, mixins, set its
//  `$include_component_{name}` value to false
//  inside `_user.config.scss`.  For example,
//  `$include_component_grid: false` will exclude
//  the Jack grid from your compiled output.
//
///////////////////////////////////////////////////////////

$include_animation: null !default;
$include_animation_keyframes: null !default;
$include_animation_easing: null !default;
$animation_default_easing: ease-in-out;


///////////////////////////////////////////////////////////
//
//  Components
//
//  To opt out of including a component, set its
//  `$include_component_{name}` value to false
//  inside `_user.config.scss`.  For example,
//  `$include_component_grid: false` will exclude
//  the Jack grid from your compiled output.
// 
//  Add a custom prefix to a component's outputted
//  selector by modifying `$prefix_component_{name}`
//  inside `_user.config.scss`.  This is useful
//  for avoiding collisions with other frameworks.
//  You may also apply your global prefix:
//  e.g. `$prefix_component_name: $global_prefix`
//
///////////////////////////////////////////////////////////

// Include alert style component
$include_component_alert: null !default;
$prefix_component_alert: $global_prefix !default;

// Include card style component
$include_component_card: null !default;
$prefix_component_card: $global_prefix !default;


// Include code formatting styles
$include_component_code: null !default;
$prefix_component_code: $global_prefix !default;


// Include dividing line style component
$include_component_divider: null !default;
$prefix_component_divider: $global_prefix !default;


// Include flexbox grid
$include_component_grid: null !default;
$prefix_component_grid: $global_prefix !default;


// Include hero styling
$include_component_hero: null !default;
$prefix_component_hero: $global_prefix !default;


// Include link styling
$include_component_link: null !default;
$prefix_component_link: $global_prefix !default;


// Include list styling
$include_component_list: null !default;
$prefix_component_list: $global_prefix !default;


// Include modal styling
$include_component_modal: null !default;
$prefix_component_modal: $global_prefix !default;


// Include navigation bar styling
$include_component_nav: null !default;
$prefix_component_nav: $global_prefix !default;


// Include table styling
$include_component_section: null !default;
$prefix_component_section: $global_prefix !default;


// Include table styling
$include_component_table: null !default;
$prefix_component_table: $global_prefix !default;


// Include tab styling
$include_component_tab: null !default;
$prefix_component_tab: $global_prefix !default;


// Include well style component
$include_component_well: null !default;
$prefix_component_well: $global_prefix !default;


///////////////////////////////////////////////////////////
//
//  Form Controls
//
//  To opt out of including a form control's styles, set 
//  its `$include_form_{name}` value to false
//  inside `_user.config.scss`.  For example,
//  `$include_form_button: false` will exclude
//  the Jack button styles from your compiled output.
// 
//  Add a custom prefix to a form control's outputted
//  selector by modifying `$prefix_form_{name}`
//  inside `_user.config.scss`.  This is useful
//  for avoiding collisions with other frameworks.
//  You may also apply your global prefix:
//  e.g. `$prefix_form_button: $global_prefix`
//
///////////////////////////////////////////////////////////

// Include form buttons
$include_form_button: null !default;
$prefix_form_button: $global_prefix !default;

// Include form fields like inputs, text areas, radios, checkboxes, etc.
$include_form_field: null !default;
$prefix_form_field: $global_prefix !default;


///////////////////////////////////////////////////////////
//
//  Typography
//
//  To opt out of including typography settings, set 
//  its `$include_typography` value to false
//  inside `_user.config.scss`.  For example,
//  `$include_typography: false` will exclude
//  the Jack button styles from your compiled output.
// 
//  Add a custom prefix to the typography outputted
//  selectors by modifying `$prefix_typography`
//  inside `_user.config.scss`.  This is useful
//  for avoiding collisions with other frameworks.
//  You may also apply your global prefix:
//  e.g. `$prefix_typography: $global_prefix`
//
///////////////////////////////////////////////////////////

// Include typography
$include_typography: null !default;
$prefix_typography: $global_prefix !default;

// Set your h1, h2, h3, h4, h5, h6 properties
$typography_header_font: 'Open Sans', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif !default;
$typography_body_lineheight: 1.5em !default;

// Set your default <body> values
$typography_body_font:  'Open Sans', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif !default;
$typography_body_lineheight: 1.5em !default;
