// sass-lint:disable space-before-colon

///////////////////////////////////////////////////////////
//
//  Global Size Vars
//
//  Variables shared across all components will pull
//  their respective sizing from this file.  Override
//  at the component level with `$cmp_` prefixed vars.
//  This convention helps create explicit, consistent
//  sizing at the global or component level.  Defining
//  component-level SASS vars nested inside their
//  respective component tag results in a "local" variable
//  as opposed to the globals below.
//
///////////////////////////////////////////////////////////

// Keep spacing between elements consistent with standard gaps
$size_gap: 7px !default;
$gap_xs: $size_gap / 2;
$gap_sm: $size_gap;
$gap_md: $size_gap * 2;
$gap_lg: $size_gap * 3;
$gap_xl: $size_gap * 4;
$gap_xxl: $size_gap * 6;


// Break points for @media
$size_break_xs: 320px !default;
$size_break_sm: 580px !default;
$size_break_md: 820px !default;
$size_break_lg: 1024px !default;
$size_break_xl: 1280px !default;

// Break point map
$sizes_break: (
    xs : $size_break_xs,
    sm : $size_break_sm,
    md : $size_break_md,
    lg : $size_break_lg,
    xl : $size_break_xl
) !default;


// Font sizes
$size_font_xs : 10px !default;
$size_font_sm : 12px !default;
$size_font_md : 14px !default;
$size_font_lg : 18px !default;
$size_font_xl : 22px !default;
$size_font_xxl: 36px !default;

// Font size mapping
$sizes_font: (
    xs : $size_font_xs,
    sm : $size_font_sm,
    md : $size_font_md,
    lg : $size_font_lg,
    xl : $size_font_xl,
    xxl: $size_font_xxl
) !default;


// Border radius sizes
$size_radius_sm: 3px;
$size_radius_md: 5px;
$size_radius_lg: 10px;
