---
layout: default
---
<div class="page--home">
    {% include nav.html %}    
    {% include hero.html %}

    <div class="container p-4 m-x-auto m-y-4">
      
      <div>
        <h2 class="m-b-3">Intro</h2>
        <p>Jack is the culmanation of many years of producing styling deliverables.  It's not just about making a design system work.  It's about making it performant, easily extendable, well documented, and customizable.</p>
        <p>You can include as little OR as much of Jack as you see fit.  The goal is to cautiously toe the line between providing an opinionated architecture without forcing Helvetica Nueue down your throat.  You control the design through the extendable nature of Jack's offerings.</p>
        <p>With that said, we'll be providing example implementations and themes that take some design liberties to hand-hold you in the right direction...tripping and falling into ocular bliss!</p>
      </div>

      <hr class="divider">

      <div>
        <h2 class="m-b-3">Getting Started</h2>
        <div class="well well--success m-b-4">
          <h3 class="m-b-1">Easy</h3>
          <p>The simplest approach for getting started is for folks who don't want to write a line of custom CSS.  Grab the <a href="https://raw.githubusercontent.com/Cornally/jack/master/dist/jack.css" target="_blank">development library</a> or the <a href="https://raw.githubusercontent.com/Cornally/jack/master/dist/min/jack.css" target="_blank">minified library</a> and add it to the head of your document, <code>&#60;link rel="stylesheet" href="jack.css"&#62;</code>.</p>
        </div>
        <div class="well well--warning m-b-4">
          <h3 class="m-b-1">Moderate</h3>
          <p>Install via npm or yarn, <code>npm install jack-strap --save-dev</code>.  Import specific bits of Jack, like just the grid, or, the entire library <code>node_modules/jack-strap/src/jack.scss</code> into your project's existing Sass files.</p>
        </div>
        <div class="well well--error">
          <h3 class="m-b-1">Advanced</h3>
          <p>Install via npm or yarn, <code>npm install jack-strap --save-dev</code>.  Customize <code>_user.config.scss</code> with your preferences.  How you handle PostCSS/Autoprefixing and building is completely up to you.  Webpack implementation examples to come.</p>
        </div>
      </div>

      <hr class="divider">
      
      <div>
        <h2 class="m-b-3">Customization</h2>
        <ul class="list">
        {% for item in site.customization %}
          <li class="list__item"><a href="{{ item.url | relative_url }}" class="link">{{ item.title | escape }}</a></li>
        {% endfor %}
        </ul>
      </div>

      <hr class="divider">
      
      <div>
        <h2 class="m-b-3">Components</h2>
        <ul class="list">
        {% for item in site.components %}
          <li class="list__item"><a href="{{ item.url | relative_url }}" class="link">{{ item.title | escape }}</a></li>
        {% endfor %}
        </ul>
      </div>

    </div>

</div>