@import '../settings/all';

@if $include_component_card or $jack_include_all {

    .#{$prefix_component_card}card {

        $cmp_background: $color_light_01;
        $cmp_border: $color_light_03;
        $cmp_border-dark: $color_light_03;

        display: flex;
        flex-direction: column;
        background: $cmp_background;

        &--no-padding {
            &__head,
            &__body { padding: 0; }
        }

        &--border {
            border: 1px solid $cmp_border;
        }

        &--shadow {
            box-shadow: 0 1px 4px 1px rgba($color_dark_01,.075);
            &--border {
                border: 1px solid $cmp_border-dark;
            }
        }

        @each $state, $color in $colors_all {
            &.#{$prefix_component_card}card--#{$state} {
                background: desaturate(lighten($color, 25%), 15%);
                border-color: $color;
                color: desaturate(darken($color, 20%), 10%);
            }
        }

        &__head {
            padding: $gap_lg;
            font-size: $size_font_lg;
            font-weight: bold;
        }

        &__head__title {
            font-size: $size_font_lg;
            font-weight: bold;
        }

        &__head__subtitle {
            font-size: $size_font_md;
            font-weight: lighter;
            color: $color_dark_04;
            margin-top: $gap_md;
        }

        &__media {
            height: 200px;
            line-height: 200px;
            text-align: center;
            background: $color_light_04;
        }

        &__body {
            padding: $gap_lg;
            font-size: $size_font_md;
            line-height: $typography_body_lineheight;
        }

        &__head + &__body {
            padding-top: 0;
            margin-top: $size_gap*-2;
        }

    }

}