@import '../settings/all';

@if $include_component_hero or $jack_include_all {

    .#{$prefix_component_hero}hero {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        color: white;
        background: $color_brand_secondary;
        min-height: 75vh;
    }
}