@import '../settings/all';

@if check($include_component_nav) {

    $cmp_nav_height: 50px;

    .#{$prefix_component_nav}nav {
        background: $color_brand_primary;
        line-height: $cmp_nav_height;
        min-height: $cmp_nav_height;
        width: 100%;

        @each $size, $px in $sizes_break {
            @media (min-width: $px) {

                // Set sticky per size so that you can determine when the nav goes sticky
                &.#{$prefix_component_nav}nav-#{$size}--sticky {
                    left: 0;
                    position: fixed;
                    top: 0;
                    z-index: z("nav");

                    .list {
                        max-height: calc(100vh - #{$cmp_nav_height * 2});
                        overflow-y: auto;
                    }
                    
                    // Push content down the height of the nav when sticky
                    & + *:before {
                        content: "";
                        display: block;
                        padding-top: $cmp_nav_height;
                    }
                }
            }
        }

        // Slide Down Menu
        @media (max-width: $size_break_sm) {
            &.#{$prefix_component_nav}nav--slidedown {
                .#{$prefix_component_nav}nav__logo {
                    text-align: center;
                }
                .#{$prefix_component_nav}nav__links {
                    max-height: 0;
                    overflow: hidden;
                    transition: max-height .18s ease-out;
                    width: 100%;
                }
                .nav__links a {
                    display: block;
                    padding-left: $gap_md;
                    padding-right: $gap_md;
                }
                .#{$prefix_component_nav}nav__hamburger__icon__line {
                    transition: all .18s ease;
                }
            }

            // Open state
            &.#{$prefix_component_nav}nav--slidedown--active {

                .#{$prefix_component_nav}nav__links {
                    border-top: 1px solid rgba($color_light_1, .075);
                    max-height: $cmp_nav_height * 20; // Number of links * link height (px)
                }

                .#{$prefix_component_nav}nav__links__list .list.list--active {
                    display: inline-block;
                    max-height: initial;
                    overflow-y: visible;
                    position: static;
                    width: 100%;
                    a { padding: $gap_md $gap_xl; }
                }

                // Transform to the menu icon
                .#{$prefix_component_nav}nav__hamburger__icon__line {
                    margin: 0;
                    &:nth-child(1) {
                        transform: translate3d(0, 2px, 0) rotate(-45deg);
                    }
                    &:nth-child(2) {
                        opacity: 0;
                    }
                    &:nth-child(3) {
                        transform: translate3d(0, -2px, 0) rotate(45deg);
                    }
                }
            }
        }

        // Hide dropdowns at smallest size
        &__links__list .list { display: none; }

        @media (min-width: $size_break_sm) {
            &__right .link { padding: $gap_md; } 
            &__links__list {
                display: inline-block;
                position: relative;
                z-index: z("nav");
            }
            &__links__list:hover .list { display: inline-block; }
        }


        a {
            color: $color_light_1;
        }
        a:hover {
            color: $color_light_2;
        }

        &__logo {
            font-size: $size_font_lg;
            font-weight: bold;
        }

        &__left {
            overflow: hidden;
        }

        &__hamburger__icon {
            align-items: center;
            cursor: pointer;
            display: flex;
            flex-direction: column;
            height: $cmp_nav_height;
            justify-content: center;
            left: 0;
            position: absolute;
            top: 0;
            width: $cmp_nav_height;
        }
        &__hamburger__icon__line {
            background: lighten($color_brand_primary, 25%);
            border-radius: 2px;
            height: 2px;
            margin-bottom: 5px;
            width: 20px;
            &:last-child { margin-bottom: 0; }
        }

    }
    

    .#{$prefix_component_nav}nav__links__list .list {
        left: 0;
        position: absolute;
        top: $cmp_nav_height;
        @extend %text_brand_1 !optional;
        @extend %bg_brand_3 !optional;
        width: 150px;
        .list__item {
            line-height: 1.5em;
            padding: 0;
            a { display: block; }
            &:hover { @extend %bg_brand_4 !optional; }
        }
    }
}