@import '../settings/all';

@if $include_component_section {

    .#{$prefix_component_section}section {
        &--angled {
            background: none;
            position: relative;
            padding: 60px 0 !important;
            &:after {
                content: "";
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                z-index: z("section");
                padding: 60px 0 !important;
            }
            &:nth-of-type(1):after,
            &:nth-of-type(4):after {
                background: $color_light_02;
                transform: skewY(1.25deg);
            }
            &:nth-of-type(2):after,
            &:nth-of-type(5):after {
                background: $color_light_04;
                transform: skewY(-1.25deg);
            }
            &:nth-of-type(3):after,
            &:nth-of-type(6):after {
                background: $color_light_03;
                transform: skewY(1.25deg);
            }
            &:first-of-type:after { transform-origin: top right; }
            &:last-of-type:after { transform-origin: bottom left; padding-bottom: 0 !important; }
            &:last-of-type { padding-bottom: 0 !important; }
        }
    }

    .#{$prefix_component_section}section-wrapper {
        overflow: hidden;
        padding-bottom: 60px;
    }

}