@import '../settings/all';

@if check($include_component_section) {

    .#{$prefix_component_section}section {
        &--angled {
            background: none;
            padding: 60px 0 !important;
            position: relative;
            &:after {
                content: "";
                height: 100%;
                left: 0;
                padding: 60px 0 !important;
                position: absolute;
                top: 0;
                width: 100%;
                z-index: z("section");
            }
            &:nth-of-type(1):after,
            &:nth-of-type(4):after {
                background: $color_light_02;
                transform: skewY(1.25deg);
            }
            &:nth-of-type(2):after,
            &:nth-of-type(5):after {
                background: $color_light_04;
                transform: skewY(-1.25deg);
            }
            &:nth-of-type(3):after,
            &:nth-of-type(6):after {
                background: $color_light_03;
                transform: skewY(1.25deg);
            }
            &:first-of-type:after {
                transform-origin: top right;
            }
            &:last-of-type:after {
                padding-bottom: 0 !important;
                transform-origin: bottom left;
            }
            &:last-of-type {
                padding-bottom: 0 !important;
            }
        }
    }

    .#{$prefix_component_section}section-wrapper {
        overflow: hidden;
        padding-bottom: 60px;
    }

}